$danger: #dc3522;
$info: #02ace7;
$success: #78b728;
$warning: #f1b300;
$dark: #161616;

html,
body {
	overscroll-behavior-y: contain;

	.cursor-pointer {
		cursor: pointer;
	}

	.cursor-grab {
		cursor: grab;
	}
}

.punto {
	font-family: century-gothic, sans-serif;
	font-weight: bold;
	font-style: normal;
}

.grid-container {
	display: grid;
	grid-template:
		'a b c'
		'd e f'
		'g h i';
	aspect-ratio: 1 / 1;
	justify-content: space-around;
	place-items: center;
	align-items: center;
	padding: 2px;
	width: 100%;

	div {
		text-align: center;
		width: calc(100vw / 60);
		max-width: 10px;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
}

// Century Gothic
@import 'https://use.typekit.net/oov2wcw.css';

// Bootstrap
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
